* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
line-height: 34px;
  margin: 0;
    color: white;
    background-color: black;
}

.header {
  padding: 80px;
  text-align: center;
}
    
    div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
background-color: black;
}

.header h1 {
  font-size: 36px;
}

#mainNav ul {
  list-style: none;
  margin:0;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    

}
#mainNav ul li {
  display: inline-block;
	display:inline;
	margin: 20px;
}
#mainNav ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color:#fff;
}
#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all .5s;
}
#mainNav ul li a:hover {
  color:#f5da89;
}

/* stroke */
#mainNav.stroke ul li a
{
  position: relative;
}
#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f5da89;
  height: 3px;
}
#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

#mainNav ul li a {
  transition: all 1s;
}

#mainNav ul li a:after {
  text-align: center;
  content: '.';
  margin: 0;
  opacity: 0;
}
#mainNav ul li a:hover {
  color: #f5da89;
  z-index: 1;
}
#mainNav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}


.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

.side {
  -ms-flex: 30%; 
  flex: 30%;
  padding: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

.main {   
  -ms-flex: 70%; 
  flex: 70%;
  padding: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}


.footer {
  padding: 20px;
  text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
    p.double {border-style: inset; border-color: #f5da89; padding: 20px;}
    

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: center;
  width: 25%;
    height: 100%;
  margin-bottom: 16px;
  padding: 0 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 0 auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic
    
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
font-family: "Trebuchet MS", Helvetica, sans-serif
}

    